{
    "openapi": "3.0.0",
    "info": {
        "title": "RREC Member API",
        "description": "API for RREC member area",
        "contact": {
            "email": "support@rrec.com"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://my-default-host.com",
            "description": "API Server"
        }
    ],
    "paths": {
        "/api/auth/login": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Member login",
                "description": "Authenticate a member and return access token",
                "operationId": "dd51a484b7fa0f97c7680fdbde14cf5f",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "member@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "password123"
                                    },
                                    "device_name": {
                                        "description": "Device name for token tracking",
                                        "type": "string",
                                        "example": "iPhone 12"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Login successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Login successful"
                                        },
                                        "data": {
                                            "properties": {
                                                "user": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer",
                                                            "example": 1
                                                        },
                                                        "name": {
                                                            "type": "string",
                                                            "example": "John Doe"
                                                        },
                                                        "email": {
                                                            "type": "string",
                                                            "example": "member@example.com"
                                                        },
                                                        "email_verified_at": {
                                                            "type": "string",
                                                            "format": "date-time",
                                                            "nullable": true
                                                        },
                                                        "created_at": {
                                                            "type": "string",
                                                            "format": "date-time"
                                                        },
                                                        "updated_at": {
                                                            "type": "string",
                                                            "format": "date-time"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "token": {
                                                    "type": "string",
                                                    "example": "1|abc123..."
                                                },
                                                "token_type": {
                                                    "type": "string",
                                                    "example": "Bearer"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "The provided credentials are incorrect."
                                        },
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/auth/logout": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Member logout",
                "description": "Revoke the current access token",
                "operationId": "df9bdc6c7a6d9f20b983526b2ec0f698",
                "responses": {
                    "200": {
                        "description": "Logout successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Logged out successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/auth/me": {
            "get": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Get current user",
                "description": "Get the authenticated user's information",
                "operationId": "b5de204f5e452ef51327c691aa99e77c",
                "responses": {
                    "200": {
                        "description": "User information retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "data": {
                                            "properties": {
                                                "user": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer",
                                                            "example": 1
                                                        },
                                                        "name": {
                                                            "type": "string",
                                                            "example": "John Doe"
                                                        },
                                                        "email": {
                                                            "type": "string",
                                                            "example": "member@example.com"
                                                        },
                                                        "email_verified_at": {
                                                            "type": "string",
                                                            "format": "date-time",
                                                            "nullable": true
                                                        },
                                                        "created_at": {
                                                            "type": "string",
                                                            "format": "date-time"
                                                        },
                                                        "updated_at": {
                                                            "type": "string",
                                                            "format": "date-time"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/events": {
            "get": {
                "tags": [
                    "Events"
                ],
                "summary": "Get all events",
                "description": "Get paginated list of all events with search and filtering options",
                "operationId": "e529c81e6aaec82f49950a87ed881f57",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number for pagination",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Number of items per page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 15
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Search term for event name or description",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "Rally"
                        }
                    },
                    {
                        "name": "category",
                        "in": "query",
                        "description": "Filter by category ID",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "subcategory",
                        "in": "query",
                        "description": "Filter by subcategory ID",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Filter by status",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "draft",
                                "published"
                            ],
                            "example": "published"
                        }
                    },
                    {
                        "name": "is_featured",
                        "in": "query",
                        "description": "Filter by featured status",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "example": true
                        }
                    },
                    {
                        "name": "is_member_only",
                        "in": "query",
                        "description": "Filter by member only events",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "example": false
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Events retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "data": {
                                            "properties": {
                                                "events": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": 1
                                                            },
                                                            "name": {
                                                                "type": "string",
                                                                "example": "Annual Rally 2024"
                                                            },
                                                            "description": {
                                                                "type": "string",
                                                                "example": "Join us for the annual rally..."
                                                            },
                                                            "start_date": {
                                                                "type": "string",
                                                                "format": "date-time",
                                                                "example": "2024-07-15T09:00:00Z"
                                                            },
                                                            "end_date": {
                                                                "type": "string",
                                                                "format": "date-time",
                                                                "example": "2024-07-15T18:00:00Z"
                                                            },
                                                            "start_time": {
                                                                "type": "string",
                                                                "example": "09:00"
                                                            },
                                                            "end_time": {
                                                                "type": "string",
                                                                "example": "18:00"
                                                            },
                                                            "primary_image": {
                                                                "type": "string",
                                                                "example": "https://example.com/event1.jpg",
                                                                "nullable": true
                                                            },
                                                            "location_name": {
                                                                "type": "string",
                                                                "example": "Blenheim Palace",
                                                                "nullable": true
                                                            },
                                                            "address_lines": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "string"
                                                                },
                                                                "example": [
                                                                    "Woodstock",
                                                                    "Oxfordshire"
                                                                ]
                                                            },
                                                            "postcode": {
                                                                "type": "string",
                                                                "example": "OX20 1PP",
                                                                "nullable": true
                                                            },
                                                            "country": {
                                                                "type": "string",
                                                                "example": "United Kingdom",
                                                                "nullable": true
                                                            },
                                                            "show_map": {
                                                                "type": "boolean",
                                                                "example": true
                                                            },
                                                            "map_zoom_level": {
                                                                "type": "integer",
                                                                "example": 15,
                                                                "nullable": true
                                                            },
                                                            "event_format": {
                                                                "type": "string",
                                                                "example": "in-person",
                                                                "nullable": true
                                                            },
                                                            "show_in_app": {
                                                                "type": "boolean",
                                                                "example": true
                                                            },
                                                            "allow_ticket_purchases": {
                                                                "type": "boolean",
                                                                "example": true
                                                            },
                                                            "is_featured": {
                                                                "type": "boolean",
                                                                "example": false
                                                            },
                                                            "allow_invoice_purchases": {
                                                                "type": "boolean",
                                                                "example": false
                                                            },
                                                            "is_member_only": {
                                                                "type": "boolean",
                                                                "example": false
                                                            },
                                                            "status": {
                                                                "type": "string",
                                                                "example": "published"
                                                            },
                                                            "category": {
                                                                "properties": {
                                                                    "id": {
                                                                        "type": "integer",
                                                                        "example": 1
                                                                    },
                                                                    "name": {
                                                                        "type": "string",
                                                                        "example": "Rallies"
                                                                    },
                                                                    "color": {
                                                                        "type": "string",
                                                                        "example": "#FF5733"
                                                                    }
                                                                },
                                                                "type": "object",
                                                                "nullable": true
                                                            },
                                                            "subcategory": {
                                                                "properties": {
                                                                    "id": {
                                                                        "type": "integer",
                                                                        "example": 1
                                                                    },
                                                                    "name": {
                                                                        "type": "string",
                                                                        "example": "Annual Events"
                                                                    }
                                                                },
                                                                "type": "object",
                                                                "nullable": true
                                                            },
                                                            "event_tags": {
                                                                "type": "array",
                                                                "items": {
                                                                    "properties": {
                                                                        "id": {
                                                                            "type": "integer",
                                                                            "example": 1
                                                                        },
                                                                        "name": {
                                                                            "type": "string",
                                                                            "example": "Rally"
                                                                        },
                                                                        "color": {
                                                                            "type": "string",
                                                                            "example": "#FF5733"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                }
                                                            },
                                                            "created_at": {
                                                                "type": "string",
                                                                "format": "date-time",
                                                                "example": "2024-01-01T00:00:00Z"
                                                            },
                                                            "updated_at": {
                                                                "type": "string",
                                                                "format": "date-time",
                                                                "example": "2024-01-01T00:00:00Z"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "pagination": {
                                                    "properties": {
                                                        "current_page": {
                                                            "type": "integer",
                                                            "example": 1
                                                        },
                                                        "last_page": {
                                                            "type": "integer",
                                                            "example": 5
                                                        },
                                                        "per_page": {
                                                            "type": "integer",
                                                            "example": 15
                                                        },
                                                        "total": {
                                                            "type": "integer",
                                                            "example": 75
                                                        },
                                                        "from": {
                                                            "type": "integer",
                                                            "example": 1
                                                        },
                                                        "to": {
                                                            "type": "integer",
                                                            "example": 15
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/events/{id}": {
            "get": {
                "tags": [
                    "Events"
                ],
                "summary": "Get event details",
                "description": "Get detailed information about a specific event",
                "operationId": "c0f602d773798994c228d99dbd63b842",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Event ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Event details retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "data": {
                                            "properties": {
                                                "event": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer",
                                                            "example": 1
                                                        },
                                                        "name": {
                                                            "type": "string",
                                                            "example": "Annual Rally 2024"
                                                        },
                                                        "description": {
                                                            "type": "string",
                                                            "example": "Join us for the annual rally..."
                                                        },
                                                        "start_date": {
                                                            "type": "string",
                                                            "format": "date-time",
                                                            "example": "2024-07-15T09:00:00Z"
                                                        },
                                                        "end_date": {
                                                            "type": "string",
                                                            "format": "date-time",
                                                            "example": "2024-07-15T18:00:00Z"
                                                        },
                                                        "start_time": {
                                                            "type": "string",
                                                            "example": "09:00"
                                                        },
                                                        "end_time": {
                                                            "type": "string",
                                                            "example": "18:00"
                                                        },
                                                        "primary_image": {
                                                            "type": "string",
                                                            "example": "https://example.com/event1.jpg",
                                                            "nullable": true
                                                        },
                                                        "secondary_images": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "string"
                                                            },
                                                            "nullable": true
                                                        },
                                                        "location_name": {
                                                            "type": "string",
                                                            "example": "Blenheim Palace",
                                                            "nullable": true
                                                        },
                                                        "address_lines": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "string"
                                                            },
                                                            "example": [
                                                                "Woodstock",
                                                                "Oxfordshire"
                                                            ]
                                                        },
                                                        "postcode": {
                                                            "type": "string",
                                                            "example": "OX20 1PP",
                                                            "nullable": true
                                                        },
                                                        "country": {
                                                            "type": "string",
                                                            "example": "United Kingdom",
                                                            "nullable": true
                                                        },
                                                        "show_map": {
                                                            "type": "boolean",
                                                            "example": true
                                                        },
                                                        "map_zoom_level": {
                                                            "type": "integer",
                                                            "example": 15,
                                                            "nullable": true
                                                        },
                                                        "event_format": {
                                                            "type": "string",
                                                            "example": "in-person",
                                                            "nullable": true
                                                        },
                                                        "show_in_app": {
                                                            "type": "boolean",
                                                            "example": true
                                                        },
                                                        "allow_ticket_purchases": {
                                                            "type": "boolean",
                                                            "example": true
                                                        },
                                                        "is_featured": {
                                                            "type": "boolean",
                                                            "example": false
                                                        },
                                                        "allow_invoice_purchases": {
                                                            "type": "boolean",
                                                            "example": false
                                                        },
                                                        "is_member_only": {
                                                            "type": "boolean",
                                                            "example": false
                                                        },
                                                        "self_service_attendee_details": {
                                                            "type": "boolean",
                                                            "example": false
                                                        },
                                                        "hide_banners": {
                                                            "type": "boolean",
                                                            "example": false
                                                        },
                                                        "booking_confirmation_content": {
                                                            "type": "string",
                                                            "example": "Thank you for booking...",
                                                            "nullable": true
                                                        },
                                                        "xero_account_code": {
                                                            "type": "string",
                                                            "example": "200",
                                                            "nullable": true
                                                        },
                                                        "status": {
                                                            "type": "string",
                                                            "example": "published"
                                                        },
                                                        "category": {
                                                            "type": "object",
                                                            "nullable": true
                                                        },
                                                        "subcategory": {
                                                            "type": "object",
                                                            "nullable": true
                                                        },
                                                        "event_tags": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "object"
                                                            }
                                                        },
                                                        "creator": {
                                                            "type": "object",
                                                            "nullable": true
                                                        },
                                                        "updater": {
                                                            "type": "object",
                                                            "nullable": true
                                                        },
                                                        "created_at": {
                                                            "type": "string",
                                                            "format": "date-time",
                                                            "example": "2024-01-01T00:00:00Z"
                                                        },
                                                        "updated_at": {
                                                            "type": "string",
                                                            "format": "date-time",
                                                            "example": "2024-01-01T00:00:00Z"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Event not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Event not found"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/events/categories": {
            "get": {
                "tags": [
                    "Events"
                ],
                "summary": "Get event categories",
                "description": "Get list of all event categories",
                "operationId": "9f0183d4ea70eed19f7f5c638da7df27",
                "responses": {
                    "200": {
                        "description": "Categories retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "data": {
                                            "properties": {
                                                "categories": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": 1
                                                            },
                                                            "name": {
                                                                "type": "string",
                                                                "example": "Rallies"
                                                            },
                                                            "slug": {
                                                                "type": "string",
                                                                "example": "rallies"
                                                            },
                                                            "description": {
                                                                "type": "string",
                                                                "example": "Rally events",
                                                                "nullable": true
                                                            },
                                                            "color": {
                                                                "type": "string",
                                                                "example": "#FF5733"
                                                            },
                                                            "is_active": {
                                                                "type": "boolean",
                                                                "example": true
                                                            },
                                                            "sort_order": {
                                                                "type": "integer",
                                                                "example": 1
                                                            },
                                                            "events_count": {
                                                                "type": "integer",
                                                                "example": 15
                                                            },
                                                            "subcategories_count": {
                                                                "type": "integer",
                                                                "example": 3
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/members": {
            "get": {
                "tags": [
                    "Member Directory"
                ],
                "summary": "Get member directory",
                "description": "Get paginated list of members with search and filtering options",
                "operationId": "9f92dd5881796cd15ac310513bf7e5af",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number for pagination",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Number of items per page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 20
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Search term for name or email",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "Mario"
                        }
                    },
                    {
                        "name": "sort_field",
                        "in": "query",
                        "description": "Field to sort by",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "name",
                                "surname",
                                "email",
                                "created_at"
                            ],
                            "example": "name"
                        }
                    },
                    {
                        "name": "sort_direction",
                        "in": "query",
                        "description": "Sort direction",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "asc",
                                "desc"
                            ],
                            "example": "asc"
                        }
                    },
                    {
                        "name": "section_id",
                        "in": "query",
                        "description": "Filter by section ID",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "city",
                        "in": "query",
                        "description": "Filter by city",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "Roma"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Members retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "data": {
                                            "properties": {
                                                "members": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": 1
                                                            },
                                                            "name": {
                                                                "type": "string",
                                                                "example": "Mario"
                                                            },
                                                            "surname": {
                                                                "type": "string",
                                                                "example": "Rossi"
                                                            },
                                                            "full_name": {
                                                                "type": "string",
                                                                "example": "Mario Rossi"
                                                            },
                                                            "email": {
                                                                "type": "string",
                                                                "example": "mario.rossi@example.com"
                                                            },
                                                            "profile_photo_url": {
                                                                "type": "string",
                                                                "example": "https://example.com/storage/avatars/user1.jpg",
                                                                "nullable": true
                                                            },
                                                            "city": {
                                                                "type": "string",
                                                                "example": "Roma",
                                                                "nullable": true
                                                            },
                                                            "country": {
                                                                "type": "string",
                                                                "example": "Italia",
                                                                "nullable": true
                                                            },
                                                            "primary_section": {
                                                                "properties": {
                                                                    "id": {
                                                                        "type": "integer",
                                                                        "example": 1
                                                                    },
                                                                    "name": {
                                                                        "type": "string",
                                                                        "example": "Sezione Roma"
                                                                    }
                                                                },
                                                                "type": "object",
                                                                "nullable": true
                                                            },
                                                            "sections": {
                                                                "type": "array",
                                                                "items": {
                                                                    "properties": {
                                                                        "id": {
                                                                            "type": "integer",
                                                                            "example": 1
                                                                        },
                                                                        "name": {
                                                                            "type": "string",
                                                                            "example": "Sezione Roma"
                                                                        },
                                                                        "pivot": {
                                                                            "properties": {
                                                                                "joined_at": {
                                                                                    "type": "string",
                                                                                    "format": "date-time",
                                                                                    "example": "2023-01-15T10:30:00Z"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                }
                                                            },
                                                            "created_at": {
                                                                "type": "string",
                                                                "format": "date-time",
                                                                "example": "2023-01-01T00:00:00Z"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "pagination": {
                                                    "properties": {
                                                        "current_page": {
                                                            "type": "integer",
                                                            "example": 1
                                                        },
                                                        "last_page": {
                                                            "type": "integer",
                                                            "example": 5
                                                        },
                                                        "per_page": {
                                                            "type": "integer",
                                                            "example": 20
                                                        },
                                                        "total": {
                                                            "type": "integer",
                                                            "example": 100
                                                        },
                                                        "from": {
                                                            "type": "integer",
                                                            "example": 1
                                                        },
                                                        "to": {
                                                            "type": "integer",
                                                            "example": 20
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/members/{id}": {
            "get": {
                "tags": [
                    "Member Directory"
                ],
                "summary": "Get member details",
                "description": "Get detailed information about a specific member",
                "operationId": "01cfaa946df0dc346479aa20df5cb0fe",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Member ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Member details retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "data": {
                                            "properties": {
                                                "member": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer",
                                                            "example": 1
                                                        },
                                                        "name": {
                                                            "type": "string",
                                                            "example": "Mario"
                                                        },
                                                        "surname": {
                                                            "type": "string",
                                                            "example": "Rossi"
                                                        },
                                                        "full_name": {
                                                            "type": "string",
                                                            "example": "Mario Rossi"
                                                        },
                                                        "email": {
                                                            "type": "string",
                                                            "example": "mario.rossi@example.com"
                                                        },
                                                        "profile_photo_url": {
                                                            "type": "string",
                                                            "example": "https://example.com/storage/avatars/user1.jpg",
                                                            "nullable": true
                                                        },
                                                        "website": {
                                                            "type": "string",
                                                            "example": "https://mariorossi.com",
                                                            "nullable": true
                                                        },
                                                        "address": {
                                                            "type": "string",
                                                            "example": "Via Roma 123",
                                                            "nullable": true
                                                        },
                                                        "city": {
                                                            "type": "string",
                                                            "example": "Roma",
                                                            "nullable": true
                                                        },
                                                        "country": {
                                                            "type": "string",
                                                            "example": "Italia",
                                                            "nullable": true
                                                        },
                                                        "mobile_phone": {
                                                            "type": "string",
                                                            "example": "+393331234567",
                                                            "nullable": true
                                                        },
                                                        "primary_section": {
                                                            "properties": {
                                                                "id": {
                                                                    "type": "integer",
                                                                    "example": 1
                                                                },
                                                                "name": {
                                                                    "type": "string",
                                                                    "example": "Sezione Roma"
                                                                }
                                                            },
                                                            "type": "object",
                                                            "nullable": true
                                                        },
                                                        "sections": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "object"
                                                            }
                                                        },
                                                        "interests": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "object"
                                                            }
                                                        },
                                                        "badges": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "object"
                                                            }
                                                        },
                                                        "vehicles": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "object"
                                                            }
                                                        },
                                                        "created_at": {
                                                            "type": "string",
                                                            "format": "date-time",
                                                            "example": "2023-01-01T00:00:00Z"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Member not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Member not found"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/members/sections": {
            "get": {
                "tags": [
                    "Member Directory"
                ],
                "summary": "Get available sections",
                "description": "Get list of all available sections for filtering",
                "operationId": "b7ddfdfa39176f882d16495d5f3643d8",
                "responses": {
                    "200": {
                        "description": "Sections retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "data": {
                                            "properties": {
                                                "sections": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": 1
                                                            },
                                                            "name": {
                                                                "type": "string",
                                                                "example": "Sezione Roma"
                                                            },
                                                            "description": {
                                                                "type": "string",
                                                                "example": "Sezione di Roma",
                                                                "nullable": true
                                                            },
                                                            "member_count": {
                                                                "type": "integer",
                                                                "example": 25
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/news": {
            "get": {
                "tags": [
                    "News"
                ],
                "summary": "Get all news posts",
                "operationId": "4c2d38d548569b2aada9dda33c619157",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "News list"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/news/{id}": {
            "get": {
                "tags": [
                    "News"
                ],
                "summary": "Get news post details",
                "operationId": "b5e82dc33757070c6cb28e68203e0c28",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "News post details"
                    },
                    "404": {
                        "description": "News post not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/profile": {
            "get": {
                "tags": [
                    "Profile"
                ],
                "summary": "Get member profile",
                "description": "Get the authenticated member's complete profile information",
                "operationId": "f1784685f8270527da017b3616288443",
                "responses": {
                    "200": {
                        "description": "Profile retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "data": {
                                            "properties": {
                                                "profile": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer",
                                                            "example": 1
                                                        },
                                                        "name": {
                                                            "type": "string",
                                                            "example": "John"
                                                        },
                                                        "surname": {
                                                            "type": "string",
                                                            "example": "Doe"
                                                        },
                                                        "email": {
                                                            "type": "string",
                                                            "example": "member@example.com"
                                                        },
                                                        "email_verified_at": {
                                                            "type": "string",
                                                            "format": "date-time",
                                                            "nullable": true
                                                        },
                                                        "profile_image": {
                                                            "type": "string",
                                                            "example": "avatars/user123.jpg",
                                                            "nullable": true
                                                        },
                                                        "profile_photo_url": {
                                                            "type": "string",
                                                            "example": "https://example.com/storage/avatars/user123.jpg",
                                                            "nullable": true
                                                        },
                                                        "website": {
                                                            "type": "string",
                                                            "example": "https://example.com",
                                                            "nullable": true
                                                        },
                                                        "communication_preferences": {
                                                            "type": "string",
                                                            "example": "email",
                                                            "nullable": true
                                                        },
                                                        "address": {
                                                            "type": "string",
                                                            "example": "123 Main St",
                                                            "nullable": true
                                                        },
                                                        "postcode": {
                                                            "type": "string",
                                                            "example": "10001",
                                                            "nullable": true
                                                        },
                                                        "city": {
                                                            "type": "string",
                                                            "example": "New York",
                                                            "nullable": true
                                                        },
                                                        "country": {
                                                            "type": "string",
                                                            "example": "USA",
                                                            "nullable": true
                                                        },
                                                        "mobile_phone": {
                                                            "type": "string",
                                                            "example": "+1234567890",
                                                            "nullable": true
                                                        },
                                                        "gdpr_consent": {
                                                            "type": "boolean",
                                                            "example": true
                                                        },
                                                        "last_login_at": {
                                                            "type": "string",
                                                            "format": "date-time",
                                                            "nullable": true
                                                        },
                                                        "primary_section_id": {
                                                            "type": "integer",
                                                            "example": 1,
                                                            "nullable": true
                                                        },
                                                        "created_at": {
                                                            "type": "string",
                                                            "format": "date-time"
                                                        },
                                                        "updated_at": {
                                                            "type": "string",
                                                            "format": "date-time"
                                                        },
                                                        "full_name": {
                                                            "type": "string",
                                                            "example": "John Doe"
                                                        },
                                                        "primary_section": {
                                                            "properties": {
                                                                "id": {
                                                                    "type": "integer",
                                                                    "example": 1
                                                                },
                                                                "name": {
                                                                    "type": "string",
                                                                    "example": "Sezione Roma"
                                                                }
                                                            },
                                                            "type": "object",
                                                            "nullable": true
                                                        },
                                                        "plan": {
                                                            "properties": {
                                                                "id": {
                                                                    "type": "integer",
                                                                    "example": 1
                                                                },
                                                                "name": {
                                                                    "type": "string",
                                                                    "example": "Premium"
                                                                },
                                                                "price": {
                                                                    "type": "number",
                                                                    "example": 99.99
                                                                }
                                                            },
                                                            "type": "object",
                                                            "nullable": true
                                                        },
                                                        "sections": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "object"
                                                            }
                                                        },
                                                        "interests": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "object"
                                                            }
                                                        },
                                                        "badges": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "object"
                                                            }
                                                        },
                                                        "vehicles": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "object"
                                                            }
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Profile"
                ],
                "summary": "Update member profile",
                "description": "Update the authenticated member's profile information",
                "operationId": "875e8801180287e4193f1aced9023960",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "John"
                                    },
                                    "surname": {
                                        "type": "string",
                                        "example": "Doe"
                                    },
                                    "website": {
                                        "type": "string",
                                        "example": "https://example.com"
                                    },
                                    "communication_preferences": {
                                        "type": "string",
                                        "example": "email"
                                    },
                                    "address": {
                                        "type": "string",
                                        "example": "123 Main St"
                                    },
                                    "postcode": {
                                        "type": "string",
                                        "example": "10001"
                                    },
                                    "city": {
                                        "type": "string",
                                        "example": "New York"
                                    },
                                    "country": {
                                        "type": "string",
                                        "example": "USA"
                                    },
                                    "mobile_phone": {
                                        "type": "string",
                                        "example": "+1234567890"
                                    },
                                    "gdpr_consent": {
                                        "type": "boolean",
                                        "example": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Profile updated successfully",
                        "content": {
                            "application/json": {
[...]
