
.button-theme {
    background:#365b82;
}

.button-theme:hover {
    background: #45A2BC;
}

.btn-1:after {
    background: #365b82;
    color: #fff;
}

.btn-1:before {
    background-color: #45A2BC;
}

.top-header-3 .top-header-inner .top-contact-item p{
    color: #365b82;
}

.top-header-3 .top-header-inner .top-contact-item i {
    color: #365b82;
}

.btn-1{
    background-color: #365b82;
    color: #fff;
}

.main-header-5 .navbar-expand-lg .navbar-nav .h-icon{
    color: #365b82;
}

.main-header-5 .navbar-expand-lg .navbar-nav .h-icon:hover{
    color: #365b82!important;
}

.btn-primary{
    background: #365b82!important;
}

.top-header.bg-active{
    background: #365b82;
}

.btn-primary:hover {
    color: #fff;
    background-color: #365b82;
    border-color: #365b82;
}

.main-header-four::after {
    background-color: #365b82;
}

.faq-info .accordion-button:focus {
    background: #365b82;
}

.faq-info .nav-tabs .nav-link:hover{
    background: #365b82;
}

.elements-page .list-group-item.active {
    background-color: #365b82;
    border-color: #365b82;
}

.elements-page .btn-primary{
    border-color: #365b82;
}

.btn-primary:active {
    background-color:  #365b82!important;
    border-color: #365b82!important;
}

.btn-border {
    color: #365b82;
    border: solid 1px #365b82;
}

.pricing-tables .btn-primary{
    background: #365b82!important;
    border: solid 1px #365b82;
}

.pricing-tables .btn-primary:active{
    background-color: #365b82;
    border: solid 1px #365b82;
}

.comment-content h6 span a{
    background: #365b82;
    color: #fff;
}

.shop-box .text-section .add-btn{
    color: #365b82;
}

.shop-box .text-section .add-btn:hover{
    background: #365b82;
    border: solid 1px #365b82;
    color: #fff;
}

.comment-content h6 span a:hover{
    background: #45A2BC;
}

.footer .newsletter-form .btn-theme{
    background:#365b82;
    color: #fff;
}

.services-details-box h3 a:hover{
    color: #365b82;
}

.payment-box .form-check-input:checked {
    background-color: #365b82;
    border-color: #365b82;
}

.footer .newsletter-form .btn-theme:hover{
    background: #45A2BC;
}

.pages-404 .btn {
    background: #365b82;
}

.contact-2 .contact-info-2 .ci-box i{
    color: #365b82;
}

.blog-2 .title a:hover{
    color: #365b82;
}

.slick-next {
    color: #365b82;
}

.blog-2 .post-meta li i{
    color: #365b82;
}

.blog-2 .title::before {
    background: #365b82;
}

.team-3::before {
    background: #365b82;
}

.team-3 .detail p {
    color: #365b82;
}

.slick-prev {
    color: #365b82;
}

.car-box-4 .read-more-btn{
    color: #365b82;
}

.team-1 .photo .overlay .border .icon-holder a{
    color: #365b82;
}

.team-1 .photo .overlay .border .icon-holder a:hover{
    background: #365b82;
    color: #fff;
}

.car-box-4 .read-more-btn:hover{
    background: #365b82;
    color: #fff;
}

.pages-404 .btn:hover {
    background: #45A2BC;
}

.btn-border:hover{
    background: #45A2BC;
    border: solid 1px #45A2BC;
}

.blog-2 .b-btn{
    color: #365b82;
}

.service-info{
    background: #365b82;
}

.vehicles-box .detail h5{
    color: #365b82;
}

.counter-box h5 span{
    color: #365b82;
}

.testimonial-3 .testimonial-info .info-section{
    background: #365b82;
}

.about-car .best-used-car h3 span{
    color: #365b82;
}

.service-center .about-text h3 span{
    color: #365b82;
}

.service-center ul li i{
    color: #365b82;
}

.service-box ul li i {
    color: #365b82;
}

.shop-info p a{
    color: #365b82;
}

.car-box .facilities-list li span i{
    color: #365b82;
}

.counter-box-3 h1{
    color: #365b82;
}

.counter-box-3 .icon{
    color: #365b82;
}

.counter-box-3:hover .icon{
    background: #365b82;
    color: #fff;
}

.testimonial-4 .testimonial-info .user-section:before {
    background: #365b82;
}

.testimonial-4 .testimonial-info .icon {
    background: #365b82;
}

.blog-3 .detail .post-meta span a i {
    color:#365b82;
}

.blog-3 .blog-image::before {
    background: #365b82;
}

.blog-3 .blog-image::after {
    background: #365b82;
}

.blog-3 .post-meta ul li i{
    color: #365b82;
}

.blog-3 .post-meta ul li i {
    color: #f01520;
}

.blog-3 .date-box {
    background: #365b82;
}

.blog-3 .date-box::after {
    border-right: 10px solid #365b82;
}

.blog-3:hover .date-box{
    color: #365b82;
}

.blog-3:hover .date-box span{
    color: #365b82;
}

.blog-3 .post-meta ul li i{
    color: #f01520;
}

.about-slider-box:before {
    border: 2px solid #365b82;
}

.question .contact-info li i{
    color: #365b82;
}

.price-box-2{
    color: #365b82;
}

.car-box-5 .facilities-list li i{
    color: #365b82;
}

.category-content .new{
    background: #365b82;
}

.category-subtitle{
    color: #365b82;
}

.car-box .footer ul li a:hover{
    color: #365b82;
}

.car-model-2 .ratings-2 span{
    background: #365b82;
}

.car-box-3 .footer ul li a:hover{
    color: #365b82;
}

.overlap-btn:hover{
    background: #365b82;
    border: solid 1px #365b82;
}

.overlap-btn.active {
    border: 1px solid #365b82!important;
    background: #365b82 !important;
    color: #fff;
}

.car-box-2 .facilities-list li i{
    color: #365b82;
}

.change-view-btn:hover {
    background: #365b82;
    border: solid 1px #365b82;
    color: #fff;
}

.car-model-2 .price-box .del-2 {
    color: #365b82;
}

.change-view-btn {
    border-radius: 2px;
    border: solid 1px #365b82;
    color: #365b82;
}

.active-view-btn{
    background: #365b82;
    border: solid 1px #365b82;
    color: #fff;
}

.counters-4 .counter-box i{
    color: #365b82;
}

.blog-6 h1 {
    color: #365b82;
}

.blog-6:hover .date {
    background: #365b82;
}

.blog-6 h3 a:hover{
    color: #365b82;
}

.sb-5 .search-area-inner{
    background:#365b82;
}

.carousel-indicators .active {
    background-color: #365b82!important;
}

.navbar-light .navbar-toggler{
    background: #365b82;
}

.banner h4 {
    color: #365b82;
}

.shop-info .price del {
    color: #365b82;
}

.team-6 .details h6{
    color: #365b82;
}

.counter-box h1{
    color: #365b82;
}

.details-banner .cover-buttons ul li a:hover {
    background: #365b82;
    border: solid 1px #365b82;
}

.text .ratings-box {
    background: #365b82;
}

.dashboard-nav ul {
    border-bottom: 1px solid #45A2BC;
}

.new-user-box .follow:hover{
    background:#365b82;
    color: #fff;
}

.setting-button i{
    color:#365b82;
}

#page_scroller {
    background:#365b82;
}

.dashboard-nav{
    background:#365b82;
}

/** Tab box 2 start **/
.tab-box-2 .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background: transparent;
    border-bottom: solid 2px#365b82;
    border-radius: 0;
    color:#365b82;
}

.tab-box .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background:#365b82;
}

.pricing-1 .plan-list ul li i{
    color: #365b82;
}

.checkbox-theme input[type="checkbox"]:checked + label::before {
    border: 2px solid #365b82;
}

.login-section .checkbox-theme input[type="checkbox"]:checked + label::before {
    border: 1px solid #365b82;
}


.btn-5:before, .btn-5:after {
    background: #365b82;
}

.btn-5:hover{
    background-color: #365b82;
    border-color: #365b82;
}

.average-rating{
    background: #365b82;
}

.rating-width{
    background: #365b82;
}

.heading-car h3 span{
    color: #365b82;
}

.btn-secton .carousel-indicators .active{
    background: #365b82;
}

.rating-count span{
    color: #365b82;
}

.btn-6 {
    color: #365b82;
}

.btn-6:after {
    background: #365b82;
}

.filteriz-navigation .active{
    color: #365b82;
}

.main-header .dropdown-menu a:hover {
    color:#365b82;
}

input[type=checkbox]:checked + label:before {
    color:#365b82;
}

.testimonial-3 .carousel-indicators li.active {
    background: #365b82;
}

.banner-bg-color{
    background:#365b82;
}

.btn-theme{
    background:#365b82;
    border: solid 1px#365b82;
}

.featured-car-4 .carousel-indicators li.active {
    background: #365b82;
}

.btn-theme:hover{
    background: #45A2BC;
    border: solid 1px #45A2BC;
}

.btn-white-lg-outline:hover {
    color: #FFF;
    background:#365b82;
    border: solid 2px#365b82;
}

.car-amenities ul li i {
    color:#365b82;
}

.border-button-theme {
    color:#365b82;
    border: 2px solid#365b82;
}

.service-info-4 .icon {
    color:#365b82;
}

.banner h2 span{
    color:#365b82;
}

.car-model-2 .modal-right-content h3{
    color:#365b82;
}

.main-title-2 h1 span{
    color:#365b82;
}

.banner .banner-slider-inner h2 span{
    color:#365b82;
}

.testimonial-2 .testimonial-info .user-section:before {
    background: #365b82;
}

.testimonial-2 .testimonial-info .icon {
    background: #365b82;
}

.service-info-3:after {
    background: #365b82;
}

.service-info-3:hover .button.btn-txt{
    color: #365b82;
}

.service-info-3:hover h3 a{
    color: #365b82;
}

.service-info-4:hover h3 a{
    color: #365b82;
}

.main-title h1 span{
    color:#365b82;
}

.banner-detail-box .red-box {
    background:#365b82 url(../../img/slider-detail.png) center center;
}

.banner-detail-box .white-box .slide-price {
    color:#365b82;
}

.banner-detail-box .white-box .slide-location::after {
    background-color:#365b82;
}

.search-options-btn, .search-options-btn:hover {
    background:#365b82;
}

.search-button {
    background:#365b82;
}

.intro-section {
    background:#365b82;
}

.search-button:hover {
    color: #fff;
    background: #45A2BC;
}

.pricing-1 .plan-header .plan-price {
    color: #365b82;
}

.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
    color:#365b82;
}

.bootstrap-select .dropdown-menu > .active > a,
.bootstrap-select .dropdown-menu > .active > a:focus,
.bootstrap-select .dropdown-menu > .active > a:hover {
    color:#365b82;
}

.bootstrap-select .dropdown-menu li a:hover .text {
    color:#365b82;
}

.tag {
    background:#365b82;
}

.view-all ul li a:hover{
    background: #365b82;
    color: #fff;
}

.recent-properties-box .detail header::after {
    background-color:#365b82;
}

.car-box .detail .title a {
    color:#365b82;
}

footer .footer-item .contact-info li label a:hover {
    color:#365b82;
}

.counter-box-2 .icon{
    background: #365b82;
}

.service-box .heading .title h4 a:hover {
    color:#365b82;
}


.main-header .form-inline .submit {
    border: solid 1px#365b82;
    color:#365b82;
}

.main-header .form-inline .submit:hover {
    border: solid 1px#365b82;
    background:#365b82;
    color: #fff;
}

.main-header .navbar-expand-lg .navbar-nav .nav-link:hover {
    color:#365b82;
}

.sh-3 .navbar-expand-lg .navbar-nav .nav-link:hover {
    color: #515151;
}

.banner .banner-slider-inner h1 span{
    color:#365b82;
}

/*.main-header .navbar-expand-lg .navbar-nav .active .nav-link {
    color:#365b82 !important;
}*/

.main-header .navbar-expand-lg .user-account li a:hover {
    color:#365b82;
}

.plan .price-header h1 {
    color:#365b82;
}

.btn-outline-primary {
    border: solid 1px#365b82;
    color:#365b82;
}

.car-box .footer .price{
    color:#365b82;
}

.btn-outline-primary:hover {
    border: solid 1px #45A2BC;
    background: #45A2BC!important;
    color: #fff;
}

.btn-outline-primary:active {
    background-color: #45A2BC;
    border-color: #45A2BC;
}

.btn-outline-2 {
    border: solid 2px#365b82;
    color:#365b82;
    font-weight: 600;
}

.heading-car-2 h3 span {
    color:#365b82;
}

.btn-outline-2:hover {
    border: solid 2px #45A2BC;
    background: #45A2BC;
    color: #fff;
}

.about-box .detail h3 {
    color:#365b82;
}

.sb-2{
    background: #365b82;
}

.best-used-car ul li i {
    color: #365b82;
}

.posts-by-category ul li span:hover{
    color: #365b82;
}

li.active.filtr-button.filtr a{
    color:#365b82;
}

.coming-soon-inner h1 span{
    color:#365b82;
}

.filteriz-navigation li a:hover{
    color:#365b82;
}

.sub-banner .page-info .breadcrumb-area ul li a:hover {
    color:#365b82;
}


.show-more-options i{
    color:#365b82;
}

.pagination > li > .active {
    background:#365b82;
}

.pagination > li > a:hover {
    background:#365b82;
    color: #fff;
}

.contact-section .btn-section .active-bg {
    color:#365b82;
}

.read-more {
    color:#365b82;
}

.range-slider .ui-slider .ui-slider-handle {
    background:#365b82;
}

.our-agent-sidebar .carousel-indicators .active {
    background:#365b82;
}

.range-slider .ui-slider .ui-slider-handle {
    border: 2px solid#365b82;
}

.range-slider .ui-widget-header {
    background-color:#365b82;
}

.main-header .navbar-expand-lg .navbar-nav .link-color {
    color:#365b82;
    border: solid 1px#365b82;
}

.main-header .navbar-expand-lg .navbar-nav .link-color:hover{
    color: #fff;
    border: solid 1px#365b82;
    background:#365b82;
}

.posts-by-category ul li a:hover {
    color:#365b82;
}

.tags-box ul li a:hover {
    color:#fff;
    border: 1px solid #365b82;
    background: #365b82;
}

.latest-tweet a {
    color:#365b82;
}

.blog-1 h3 a:hover{
    color:#365b82;
}

.blog-tags a:hover {
    color:#fff;
    border: 1px solid #365b82;
    background: #365b82;
}

.car-box-5 .detail .title a {
    color:#365b82;
}

.price-box-3 {
    color: #365b82;
}

.vs{
    color: #365b82;
}

.leaflet-container a.leaflet-popup-close-button {
    color:#365b82;
}

.breadcrumbs li a:hover {
    color:#365b82;
}

.helping-center ul li i {
    color:#365b82;
}

.my-account-box .title::after {
    background-color:#365b82;
}

.breadcrumb-nav ul .active {
    color:#365b82;
}

.photoUpload {
    background:#365b82;
}

.typography-page mark.color {
    background-color:#365b82;
}

.faq-accordion .card-header .collapsed.card-title:before {
    color:#365b82;
}

.dashboard-nav ul li span.nav-tag {
    color:#365b82;
}

.bg-active {
    background: #365b82;
    color: #fff!important;
}

.login-section .info h1 span{
    color: #365b82;
}

.banner .slider-mover-right {
    color: #365b82;
}

.banner .slider-mover-right:hover{
    background: #365b82;
    color: #fff;
}

.latest-offers-box .new{
    color: #365b82;
}

#sidebar .sidebar-navigation .active {
    color: #365b82;
}

#sidebar .sidebar-navigation ul li a:hover {
    color: #365b82!important;
}

#sidebar #dismiss {
    color: #365b82;
}

#sidebar .get-in-touch .get-in-touch-box:hover i{
    background: #365b82;
    color: #fff;
}

.btn-2:hover{
    color: #365b82;
}

.btn-3 {
    background: #365b82;
}

.btn-3:before {
    background: #365b82;
}

.btn-3:after {
    background: #365b82;
}

.btn-3:hover {
    color: #365b82;
    border: 2px solid #365b82;
}

.btn-7{
    color: #365b82;
}

.latest-offers-box .price {
    color: #365b82;
}

.latest-offers-box:hover .new{
    background: #365b82;
    color: #fff;
}

.glyph:hover .bshadow0 .lnr{
    color:#365b82;
}

.shop-box .text-section .btn-primary {
    color: #365b82;
}

.shop-box .text-section .btn-primary:hover{
    background: #365b82;
    border-color: #365b82;
}

.banner h3 span{
    color: #365b82;
}

.typography .list-3 li:before, .list-2 li:before, .list-1 li:before {
    color:#365b82;
}

.numbered.color.filled ol > li::before {
    border: 1px solid#365b82;
    background-color:#365b82;
}

.numbered.color ol > li::before {
    border: 1px solid#365b82;
    color:#365b82;
}

.widget-link:hover {
    color:#365b82;
}

.coming-soon-inner .btn, .coming-soon-inner .btn:hover, .coming-soon-inner .btn:active {
    background:#365b82;
}

.car-box-2 .detail .title a:hover {
    color:#365b82;
}

.tabbing-box .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color:#365b82;
}

.tabbing-box .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover {
    background-color:#365b82;
}

.map-marker:hover {
    background-color:#365b82;
    cursor: pointer;
}

.map-marker:hover:before {
    border-color:#365b82 transparent transparent transparent;
}

.map-marker.featured:hover {
    background-color:#365b82;
}

.map-marker.featured:hover:before {
    border-color:#365b82 transparent transparent transparent;
}

.map-marker .icon {
    border: 3px solid#365b82;
}

.marker-active .map-marker {
    background-color:#365b82;
}

.marker-active .map-marker:before {
    border-color:#365b82 transparent transparent transparent;
}

.slick-arrow-buton:hover{
    background:#365b82;
    color: #fff;
}

.map-properties .map-content h4 a {
    color:#365b82;
}

.dropzone-design:hover {
    border: 2px dashed#365b82;
}

@media all and (min-width: 992px) {
    .main-header-5 .navbar-expand-lg .navbar-nav .h-icon {
        color: #365b82;
    }

    .main-header-5.header-shrink .navbar-expand-lg .navbar-nav .nav-link i{
        color: #365b82;
    }

    .main-header-5.sticky-header {
        background: #365b82;
    }

    .main-header-5.header-shrink {
        background: #365b82!important;
    }
}

@media (max-width: 992px) {
    .main-header .navbar-expand-lg .navbar-nav .nav-link:hover {
        color:#365b82!important;
    }

    .main-header-5 {
        background: #365b82;
    }

    .car-model-2 .modal-header {
        background: #365b82;
        padding: 20px 20px 10px;
    }
}

@media (max-width: 768px) {
    .navbar-default .navbar-toggle .icon-bar {
        background-color:#365b82;
    }

    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
        background-color:#365b82 !important;
    }

    .main-header .navbar-default .nav > li > a:hover {
        background:#365b82;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
        background-color:#365b82 !important;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        background: #eee;
    }
}

@media (min-width: 992px) {
    /*.header-transparent .navbar-expand-lg .navbar-nav .active .nav-link,
    .header-transparent .navbar-expand-lg .navbar-nav .nav-link:hover
    {
        color: #fff !important;
    }

    .header-transparent .navbar-expand-lg .navbar-nav .nav-link {
        color: #fff;
    }

    .header-transparent .link-color {
        color: #fff;
    }*/
}

@media (min-width: 180px){
    .main-header-5.header-shrink {
        background: #365b82!important;
    }
}
